parameters:
    excludes_analyse:
    paths:
        - src
        - tests
    level: 5
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\HttpKernel\\KernelInterface.*#'
        - '#Call to an undefined method Doctrine\\Persistence\\Mapping\\ClassMetadataFactory.*#'
